# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
out/

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Tunnel
backend_tunnel.log
frontend_tunnel.log
